{% extends "main.html" %}
{% block content %}
<center>
    <div class="reset_password_container">
        <form action="" method="POST" class="reset_password_form">
            <h2>Enter New Password</h2>
            {% csrf_token %}
            <input type="password" name="password" placeholder="Enter a password" class="reset_input" required>
            <br>
            <input type="submit" value="Reset" class="reset_button">
        </form>
    </div>
</center>
{% endblock content %}
